.sidebar-anim-in {
  animation: slideInFromLeft 0.5s forwards;
}

.sidebar-anim-out {
  animation: slideOutToLeft 0.5s forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
