/* styles.css */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(5%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(-100%);
  }
}

.slide-down {
  animation: slideDown 1s forwards;
}

.slide-up {
  animation: slideUp 0.3s forwards;
}
